// @font-face {
//   font-family: 'HK Grotesk';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url('./HKGrotesk-Regular.woff') format('woff'),
//     url('./HKGrotesk-Regular.woff2') format('woff2');
// }

@font-face {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./HKGrotesk-Medium.woff') format('woff'),
    url('./HKGrotesk-Medium.woff2') format('woff2');
}

@font-face {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./HKGrotesk-SemiBold.woff2') format('woff2'),
    url('./HKGrotesk-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./HKGrotesk-Bold.woff2') format('woff2'),
    url('./HKGrotesk-Bold.woff') format('woff');
}
