.add-button {
  display: flex;
  padding: 16px 88px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 9999px;
  background: linear-gradient(90deg, #f62e8e 0%, #ac1af0 102.84%);
  box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.08);
  border: none;
  cursor: pointer;
}
