.profile {
  display: grid;
  grid-template-columns: auto 1fr;
  &-content {
    padding: 30px;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    &-content {
      padding: 24px;
    }
  }
}
