.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 358px;
  align-items: center;
  border-radius: 30px;
  box-shadow: 6px 6px 6px 5px rgb(79 79 79 / 25%);
  z-index: 2;
  padding: 97px 40px 47px 40px;
  border-radius: 20px;
  border: 1px solid var(--Glass1-Stroke-Carey, #afafaf);
  background: var(
    --Glass1-Fill-Carey,
    linear-gradient(
      321deg,
      rgba(191, 191, 191, 0.06) 5.98%,
      rgba(0, 0, 0, 0) 66.28%
    ),
    rgba(0, 0, 0, 0.14)
  );
  box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(26.5px);
  color: #fff;

  h2 {
    font-size: 36px;
    font-weight: 600;
    align-self: flex-start;
    margin: 0;
  }
  span {
    font-size: 16px;
    font-weight: 500;

    margin: 0;
  }
  button {
    width: 100%;
    padding: 14px 10px;
    border-radius: 12px;
    background: linear-gradient(
      91deg,
      #628eff 9.91%,
      #8740cd 53.29%,
      #580475 91.56%
    );
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 25px 0;
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 14px 0 0 0;
  }
}

.auth-form__subtitle {
  align-self: flex-start;
}

.auth-form__link {
  color: #fff;
  text-decoration: none;
}
