.button {
  &_view {
    &_auth {
      width: 100%;
      padding: 14px 10px;
      border-radius: 12px;
      background: linear-gradient(
        91deg,
        #628eff 9.91%,
        #8740cd 53.29%,
        #580475 91.56%
      );
      color: #fff;
      cursor: pointer;
      border: none;
      margin: 25px 0;
    }
    &_discard,
    &_publish {
      font-size: 20px;
      font-weight: 700;
      line-height: 115%;
      border: none;
      cursor: pointer;
    }
    &_discard {
      color: #2e8af6;
      background: #ffffff00;
    }

    &_publish {
      padding: 4px 12px;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
      background: #f62e8e;
      color: #fff;
    }
  }

  &_invalid {
    background-color: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #000000;
    opacity: 0.2;
    pointer-events: none;
  }
}
