.button {
  &_view {
    &_auth {
      width: 100%;
      padding: 14px 10px;
      border-radius: 12px;
      background: linear-gradient(
        91deg,
        #628eff 9.91%,
        #8740cd 53.29%,
        #580475 91.56%
      );
      color: #fff;
      cursor: pointer;
      border: none;
      margin: 25px 0;
    }

    &_discard,
    &_publish {
      font-size: 20px;
      font-weight: 700;
      line-height: 115%;
      border: none;
      cursor: pointer;
    }
    &_discard {
      color: #2e8af6;
      background: #ffffff00;
    }

    &_publish {
      padding: 4px 12px;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
      background: linear-gradient(90deg, #f62e8e 0%, #ac1af0 102.84%);
      color: #fff;
    }

    &_edit {
      width: 100%;
      padding: 14px 10px;
      border-radius: 12px;
      border-radius: 12px;
      background: linear-gradient(
        91deg,
        #e948c5 9.91%,
        #cd407b 53.29%,
        #75042d 91.56%
      );
      color: #fff;
      cursor: pointer;
      border: none;
      margin: 25px 0;
    }

    &_onedit {
      padding: 6px 32px;
      border-radius: 30px;
      border: 1px solid #727477;
      background: #181a1c;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      cursor: pointer;
    }

    &_tabbar {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      cursor: pointer;
      text-align: center;
      padding-bottom: 16px;

      color: #fff;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
    }
  }

  &_disabled {
    background-color: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #000000;
    opacity: 0.6;
    pointer-events: none;
  }

  &_isActive {
    border-bottom: 4px solid #2e8af6;
  }
}

@media screen and (max-width: 600px) {
  .button {
    &_view {
      &_tabbar {
        padding-bottom: 12px;
      }
    }
  }
}
