.input {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 10px;

  &_invalid {
    border: 1px solid #cd407b;
  }

  &_message {
    color: #cd407b;
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 10px 0;
  }

  &:first-of-type {
    margin-top: 0;
  }

  &:active,
  :hover,
  :focus {
    outline: 0;
    outline-offset: 0;
  }
}