.postForm {
  padding: 25px 0 16px;
  border-bottom: 2px solid #323436;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-profile {
    display: flex;

    img {
      width: 48px;
      height: 48px;
      border-radius: 100px;
      object-fit: cover;
      margin-right: 12px;
    }

    h3,
    p {
      margin: 0;
      padding: 0;
    }
    h3 {
      color: #ecebed;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
    }
    p {
      color: #727477;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 0;
  }

  &-dropdown {
    display: inline-block;
    position: relative;
    width: 80px;
    display: flex;
    justify-content: end;
    align-items: center;

    &-content {
      display: none;
      position: absolute;
      width: 100%;
      overflow: auto;

      button {
        display: block;
        padding: 5px;
        margin: 0;
      }
    }
    &:hover &-content {
      display: block;
      right: 24px;
    }
  }

  &-content {
    padding-left: 60px;
    margin: 16px 0;

    p {
      overflow: hidden;
      width: 100%;
      line-height: 24px;
      max-height: calc(3 * 24px); /* define 3 lines*/
      position: relative;
      color: #ecebed;
      font-size: 16px;
    }
    a {
      position: absolute;
      bottom: 0;
      right: 0;
      background: inherit;
      outline: none;
      padding-left: 18px;
      background-color: #181a1c;
      color: #f62e8e;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      cursor: pointer;
    }
    a:before {
      content: '...';
      position: absolute;
      left: 0;
      text-decoration: none;
      color: #f62e8e;
    }

    p:focus-within {
      max-height: 100%;
    }

    p:focus-within a {
      font-size: 0;
    }

    img {
      max-height: 507px;
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  &-actions {
    display: flex;
    padding-left: 50px;
    img {
      width: 19px;
      height: 19px;
      cursor: pointer;
      margin-right: 11px;
    }
    p {
      margin: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .postForm {
    padding: 25px 0 18px;

    &-profile {
      img {
        width: 32px;
        height: 32px;
        margin-right: 8px;
      }
    }

    &-container {
      padding: 0;
    }

    &-content {
      padding: 0;
    }

    &-actions {
      padding: 0;
      img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }
  }
}
